@import "catppuccin.css";

/* Reset all styles */
* {
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
  background: rgba(0, 0, 0, 0);
  /*background-image: linear-gradient(to left, rgba(255, 100, 100, 100), rgba(255, 100, 100, 0));*/
  /* background: linear-gradient(90deg, @rosewater 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, @teal 100%); */
	color: @text;
	font-family: JetBrains Mono;
	font-size: 13pt;
}

#widget {
	background: @base;
}

#workspaces button {
    margin: 0 5px;
    padding: 2px 3px 0 3px;
    border-width: 0 0 2px 0;
    border-color: @pink;
    border-style: solid;
    color: @text;
    border-radius: 0;
    background-color: transparent;
}

#workspaces button.active {
    background-color: @crust;
    border-color: @yellow;
}


#workspaces button:hover {
    background-color: @crust;
    box-shadow: none;
    text-shadow: none;
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
}

#workspaces button.focused {
    background-color: @crust;
}

#workspaces button.urgent {
    background-color: @maroon;
}
